.search-container
  .search-container__box
    = form_tag '/item/search', method: :get, class: "search-form" do
      = text_field_tag :name, :'', class: 'input-search', placeholder: '検索', autocomplete: 'off'
    .itemlists
      .itemlist