/ コメント入力フォーム ----------------------------------------------------------
= form_for [@item, @comment], url: item_comments_path(@item),  class: 'item-main__form' do |f|
  = f.text_area :comment, class: "input-mysize"
  = f.submit "送信", class: "btn btn-outline-dark comment-submit float-right"