-# あとでサイドバーを実装する
-# #wrap
-#   #external-events
-#     #external-events-listing
-#       %h4 Draggable Events
-#       .fc-event My Event 1
-#       .fc-event My Event 2
-#       .fc-event My Event 3
-#       .fc-event My Event 4
-#       .fc-event My Event 5
-#     %p
-#       %input#drop-remove{:checked => "checked", :type => "checkbox"}/
-#       %label{:for => "drop-remove"} remove after drop
#calendar
%div{:style => "clear:both"}