.search-container {
  margin: 0 auto;
  .search-form {
    margin-left: 480px;
    margin-top: 48px;
  }

}
#searching-form {
  max-width: 500px;
  margin: 0 auto 1rem;
  width: 300px;
  line-height: 48px;
  text-align: center;
}