.search-container {
  background-color: #f8f8f8;
  &__box {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    .search-form {
      margin: 0 auto;
      margin-top: 48px;
    }
  }

}
#searching-form {
  max-width: 500px;
  margin: 0 auto 1rem;
  width: 300px;
  line-height: 48px;
  padding-left: 8px;
  // text-align: left;
}