@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "reset";
@import "modules/top/default";
@import "modules/users/signup";
@import "modules/users/signin";
@import "custom";
@import "modules/item/index";
@import "modules/item/new";
@import "modules/item/edit";
@import "modules/item/show";
@import "bootstrap-datetimepicker";

.notifications {
  color: $white;
  text-align: center;  
  
  .notice {
    background-color: lime;
  }

  .alert {
    background-color: alert_orange;
  }
}