.listings
  .listings_channels
    %h2.listings_header
      メニュー
    %ul.channel_list
      = sidebar_link_item('アイテムを出品する', new_item_path)
      = sidebar_link_item('説明文を作成する', new_post_path)
      = sidebar_link_item('商品を検索する', search_item_index_path)
      = link_to 'カレンダーを確認する',events_index_path, id: "fullcalendar", class: "channel"
      -# = sidebar_link_item('出品数を確認する')
      -# = sidebar_link_item('売り上げを確認する')

